.login-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg-mobile-top);
}

.login-content {
  padding: 32px 24px;
}

.login-content .page-heading {
  margin-bottom: 8px;
}

.login-content .page-subtitle {
  margin-bottom: 28px;
}

.login-content form .input-group {
  margin-bottom: 22px;
}

.login-content form .btn {
  margin-top: 6px;
}
